#main {
  padding: 30px;
  height: 100%;
}

#main > div {
  height: 100%;
}

#main .top-buttons {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

#main .top-bar {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}

#main .top-bar .add-movie {
  flex: 0 0 400px;
}

#main .top-bar .countdown {
  margin-left: auto;
}

#main .start-new-session {
  width: 400px;
}

#main .ui.cards {
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

#main .ui.cards {
  margin: 0;
}

#main .ui.cards.movie-list {
  margin: 0 -30px;
}

#main .ui.cards.movie-list .card:first-child {
  margin-left: 30px;
}

#main .ui.cards.movie-list .card:last-child {
  margin-right: 30px;
}

#main .ui.cards .card {
  max-height: 213px;
  min-height: 213px;
  flex-direction: row;
  min-width: 500px;
}

#main .ui.cards .card .image img {
  width: 150px !important;
  height: 213px !important;
}

#main .ui.cards .card .content {
  position: relative;
}

#main .ui.cards .card .content p {
  margin-top: 5px;
  margin-bottom: 30px;
}

#main .ui.cards .card .content .reviews {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  bottom: 10px;
}

#main .ui.cards .card .content .reviews .review {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  margin-right: 10px;
}

#main .ui.cards .card .content .reviews .review img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

#main .ui.cards .card .content .extra {
  position: absolute;
  bottom: 7px;
  right: 12px;
}

#main .ui.cards .card .content .delete-card {
  position: absolute;
  bottom: 7px;
  right: 12px;
  cursor: pointer;
  color: red;
}

#movie-list-page {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
}

.add-movie {
  flex: 0 0 auto;
}

.card .header {
  display: flex !important;
  display: -webkit-flex !important;
  display: -ms-flex !important;
}

.card .header .date {
  margin-left: auto;
  display: block;
  text-align: right;
  font-size: 16px;
}

.Select .Select-control .Select-placeholder {
  display: none !important;
}