.ui.rating.react-semantic-rating {
  position: relative !important;
}

.ui.rating.react-semantic-rating i.active {
  color: #FDBE00 !important;
}

.ui.rating.react-semantic-rating i {
  cursor: pointer !important;
  display: inline-block !important;
  color: #E6E6E6 !important;
  font-size: 18px !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.ui.rating.react-semantic-rating i.disabled {
  cursor: not-allowed !important;
}

.ui.rating.react-semantic-rating.selected i.selected {
  color: #FDBE00 !important;
  opacity: 1 !important;
}

.ui.rating.react-semantic-rating.selected i.active.selected {
  opacity: 1 !important;
}

.ui.rating.react-semantic-rating.selected i.active {
  opacity: 0.3 !important;
}
